@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

.simple-mobile-dock {
  position: fixed;
  bottom: .8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 8vh;
  background: rgba(15,15,15,0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important;
  border-radius: 50px;
  padding: 0 !important;
  z-index: 10;
  backdrop-filter: blur(6px);
  overflow: hidden;
}

.simple-mobile-dock button {
  width: 100% !important;
  height: 100% !important;
  border: none;
  color: #f8f8f8;
  font-size: 1.25rem;
  border-radius: 0 !important;
  transition: background 0.18s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.simple-mobile-dock a:active,
.simple-mobile-dock a:focus {
  background: rgba(255,255,255,0.07);
  outline: none;
}

.pre-nav-block {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important;
  height: 3.8rem;
  width: 96vw;
  max-width: 500px;
  background: none !important;
  border-radius: 50px;
  backdrop-filter: blur(6px);
  border: 3px solid rgba(255,255,255,0.05);
  margin-bottom: .5vh;
  animation: fadeSlideIn 0.18s ease-out;
}

.pre-nav-option {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #eee;
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.15s ease;
  border-radius: 50px;
}

.pre-nav-option:hover, .pre-nav-option:focus {
  background: rgba(255,255,255,0.07);
  outline: none;
}